cohere
cohere-haystack
datasets
haystack==0.42
haystack-ai==2.4.0
haystack-experimental==0.1.1
huggingface-hub
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
lazy-imports
markdown-it-py
MarkupSafe
mdurl
numpy
pandas
pdfplumber
ragas
ragas-haystack
rank-bm25
referencing
streamlit
tokenizers
toml
torch
transformers
